/* ===== Global Style ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f172a;
    color: #ffffff;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ===== Navbar ===== */

nav {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #38bdf8;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}


/* ===== Hero Section ===== */

.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 8%;
}

.hero-text h1 {
    font-size: 55px;
}

.hero-text span {
    color: #38bdf8;
}

.hero-text p {
    margin: 20px 0;
    color: #cbd5e1;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #38bdf8;
    color: #020617;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}


/* ===== Profile Image ===== */

.hero img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 5px solid #38bdf8;
    object-fit: cover;
}


/* ===== Sections ===== */

section {
    padding: 70px 8%;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    color: #38bdf8;
}


/* ===== Cards ===== */

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 30px;
    width: 280px;
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #00000050;
}

.card h3 {
    color: #38bdf8;
}


/* ===== Skills ===== */

.skills span {
    display: inline-block;
    background: #1e293b;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 20px;
}


/* ===== Contact ===== */

.contact {
    text-align: center;
}

.contact a {
    color: #38bdf8;
}


/* ===== Footer ===== */

footer {
    background: #020617;
    text-align: center;
    padding: 20px;
    color: #94a3b8;
}


/* ===== Mobile Responsive ===== */

@media(max-width:768px){

    nav ul{
        display:none;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text h1{
        font-size:40px;
    }

    .hero img{
        margin-top:30px;
    }
}
